
/* define a altura  */
html {
    min-height: 100%;
    height: 100%;
}

 /* define a altura body */
body {
    height: 100%;

     /* centraliza o conteudo */
    justify-content: center;
    align-items: center;
    display: flex;

    /* define o fundo gradiente linear */
    background: rgb(0,103,87);
    background: linear-gradient(0deg, rgba(0,103,87,1) 0%, rgba(70,83,173,0.7202478403470763) 100%);
    
}

.container {

     /* define bordas arredondadas */
    border-radius: 3px;

    /* define a fonte como roboto com peso 500 */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgb(175,173,173);
    background: linear-gradient(0deg, rgba(175,173,173,1) 0%, rgba(236,236,236,1) 100%);
    
}

.icone-user {
    /* centraliza o icone horizontalmente */
    justify-content: center;
    display: flex;
    /* define o tamanho da fonte */
    font-size: 70px;
}

i {
     /* cor */
    color: rgb(0,103,87);
}

form {
    /* define margem */
    margin-bottom: 10px;
}

form input {
    /* define cmapos de entrada */    
    margin-top: 10px;
    border: 1px solid gray;
    outline: 0;
    border-radius: 3px;
}

input[type="text"], input[type="password"] {
    padding-left: 10px;
}

input[type="submit"] {
    /* fonte do botao */
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    background-color: rgb(67, 91, 230);
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 3px;
}